{% extends 'base.html' %}

{% block body %}

    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Registration</h3>

            <form method="post" class='col s12'>
                <div class='row'>
                    <div class='input-field col s8 offset-s2'>
                        <label>Enter the student detail: </label><input type="text" name="detail">
                    </div>
                </div>

                <div class="row">
                     <div class="form-group">
                        <label for="sel1">Select list:</label>
                        <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                     </div>
                </div>
                <div class='row'>
                  {% csrf_token %}
                    <input type="submit" value="Register" class="col offset-s2 s8 waves-effect waves-light btn green" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
