{% extends 'base.html' %}

{% block body %}

    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Application Form</h3>

            <form method="post" class='col s12'>
            <input type='hidden' name='csrfmiddlewaretoken' value='9dxwfRDnPegLhWkkBwZZettR5wp3mPkiAlfI3fhKlJ6BSbmBhf8BD9r03unt9gBr' />


          

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{user.0}}' name="admission_number" id="id_admission_number" required maxlength="7" />
                      <label for="id_admission_number">Admission number:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{user.1}}' name="first_name" id="id_first_name" required maxlength="100" />
                      <label for="id_first_name">First name:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{user.2}}' name="last_name" id="id_last_name" required maxlength="100" />
                      <label for="id_last_name">Last name:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{user.3}}' name="e_mail" id="id_e_mail" required maxlength="100" />
                      <label for="id_e_mail">E mail:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="address" id="id_address" required maxlength="500" />
                      <label for="id_address">Address:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="pincode" id="id_pincode" required maxlength="6" />
                      <label for="id_pincode">Pincode:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="phone" id="id_phone" required maxlength="10" />
                      <label for="id_phone">Phone:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="date_of_birth" id="id_date_of_birth" required />
                      <label for="id_date_of_birth">Date of birth:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="category" id="id_category" required maxlength="10" />
                      <label for="id_category">Category:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="religion" id="id_religion" required maxlength="50" />
                      <label for="id_religion">Religion:</label>
                  </div>
              </div>
            

        

            
              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" name="caste" id="id_caste" required maxlength="50" />
                      <label for="id_caste">Caste:</label>
                  </div>
              </div>
                <div class='row'>
                    <input type="submit" value="Register" class="col offset-s2 s8 waves-effect waves-light btn green" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
