{% extends 'base.html' %}

{% block body %}

    <div class="card white-text" id="forcontact">
    	<div class="row">
	    	<div class="col s12 m8">

		    	<h3 class="hide-on-small-only"> Contact Us </h3>
		    	<h4 class="hide-on-med-and-up"> Contact Us</h4>
		    	<p class="offset-s1">We're happy to answer any questions you have. Just send us a message or call us.
		    	</p>

			</div>

			<div class="col s12 m4">
				<div class="hide-on-small-only"><br><br><br></div>
				<p> <span class="orange-text"> Phone: </span> <br> 9494969542</p>
				<p> <span class="orange-text"> Email: </span> <br> thatemail@gmail.com</p>
			</div>
		</div>

    </div>

{% endblock %}