<h4>Name: {{profile.name}} <br/>
    Room Number: {{profile.room_number}} <br/>
    Mobile: {{profile.phone}}
</h4>

<form method="POST" action="submit" >
  {% csrf_token %}
  <ul>
    {% for date in dates%}
      <li> {{ date }}
            <input type="radio" name="{{date}}" value="1" {%if type == 'approved' %}checked {%endif%} />
              <label>Approve</label>
            <input type="radio" name="{{date}}"  value="0" {%if type == 'rejected' %}checked {%endif%} />
              <label>Reject</label>
      </li>
    {% endfor %}
  </ul>

<input type="submit" value="Submit">
</form>
