{% extends 'base.html' %}

{% block body %}

<div class='container'>
    <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
      <a class="waves-effect waves-light btn right" href="/expense/add"> Add </a>
        <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Expense Tracker</h3>
        <div class='row'>
            <table class="bordered responsive-table">

              <thead>
                <tr style='color:rgba(255,255,255,0.87)'>
                    <th>Date</th>
                    <th>Total Expense</th>
                </tr>

              <tbody>

              {% for key,value in data.items%}

                <tr style='text-align:left; color:rgba(255,255,255,0.87)'>
                   <td>{{key}}
                   </td>
                   <td>
                     {{value.1}}
                  </td>
                   <td>

                     <a class="waves-effect waves-light btn" href="/expense/{{value.0}}"> View </a>
                   </td>
                   <td>

                     <form action="" method="POST">
                       {%csrf_token%}
                       <input type = "hidden" name="download" value ="{{value.0}}"/>
                     <button type="submit" class="waves-effect waves-light btn">Download</button>
                        </form>

                   </td>
                </tr>

               {% endfor %}

             </tbody>
            </table>
        </div>

    </div>
</div>
</div>

{% endblock %}
