{%extends 'base.html' %}

{%block body%}

<div class='left web' style="margin-top:30vh"><a class='movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator'><i class='material-icons left middle-indicator-text' style='font-size:7vw'>chevron_left</i></a></div>
<div class='right web' style="margin-top:30vh"><a class='moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator'><i class='material-icons left middle-indicator-text'style='font-size:7vw'>chevron_right</i></a></div>
<div class='container carousel-container'>
</div>
    
<div class='container' style='width:90% !important;'>
    <div id='thumbs' class='row'>
    </div>
</div>

{%endblock%}