{%extends 'base.html' %}

{%block body%}

      <!--  <div class='landing' style="padding:300px 0px 300px 0px;">
      <div class='landing_content flow-text web'>
      <strong><p class='welcome_text' style='font-size: 33px; font-weight: bold; letter-spacing:2px;'>Welcome to MEC-MH</p></strong>
      College Hostel of <strong>Govt. Model Engineering College</strong> Kochi
    </div>
    <div class='landing_content flow-text mobile'>
    <strong><p class='welcome_text' style='font-size: 24px; font-weight: bold; letter-spacing:2px;'>WELCOME TO MEC-MH</p></strong>
    College Hostel of <br><strong>Govt. Model Engineering College</strong><br> Kochi
  </div>
</div>
-->

<div class="container" style="padding:100px 25px 100px 25px;width:100%; background-color:rgba(0,0,0,0.8);" >
  <div  class="row">
    <div class="col l6 m6 s12">
      <center><img src="http://static-news.moneycontrol.com/static-mcnews/2017/03/stocks_BSE_Nifty_Sensex__stocks_stock_market_1280-378x213.jpg" width=75% style="border:5px solid white;"></center>
    </div>
    <div class="col l6 m6 s12">
      <span class="white-text" style="font-size:30px;">Welcome to the MEC MH website.</span><br><br>
      <span class="white-text">The Men’s hostel of MEC has been an integral part of Govt. Model Engineering College from the very beginning itself. The Men’s hostel and its inmates have traditionally played a pivotal role in almost every activity in the college.
      <p>
        About the history of MH MEC, the Men’s hostel was initially ran in a temporary building at Kaloor, when the college was functioning at Edappally. Later, when the college got a new building at Thrikkakara, a Men’s hostel building was constructed next to the college building for convenience of the students. Construction was completed in stages and students moved in after the completion of the first stage.
        At present, the hostel is a single block building having three storeys. The hostel houses both undergraduate and postgraduate students. Accommodation is on a room sharing basis.</span>
    </div>
  </div>
</div>
</div>

<div class="container" style="padding:50px; background-color: rgba(33,33,33, .8); width:100%;-moz-box-shadow:inset 0 0 5px #000000;-webkit-box-shadow: inset 0 0 5px #000000;box-shadow:inset 0 0 5px #000000;">
<div class="row">
  <div class="col l4 m4 s12">
       <center><img src="/static/mhsite/assets/Mess.jpeg" class="circle responsive-img" style="max-width:150px;"></center><br>
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
  <div class="col l4 m4 s12">
    <center><img src="/static/mhsite/assets/Hostel.jpeg" class="circle responsive-img"></center><br>
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
  <div class="col l4 m4 s12">
    <center><img src="/static/mhsite/assets/Prin.jpeg" class="circle responsive-img"></center><br>
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
</div>

</div>
<div class="container" style="padding:50px;-moz-box-shadow:inset 0 0 3px #000000; -webkit-box-shadow: inset 0 0 3px #000000;box-shadow:inset 0 0 3px #000000; background-color:gray;background-color: rgba(0, 0, 0, .8); width:100%;">
<div class="row">
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
</div>


<div class="row">
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
  <div class="col s6">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
</div>
</div>


        <footer class="page-footer" style="padding-top:10px; background-color:#000;">
          <div class="container">
            <div class="row" >
              <div class="col l6 s12" >
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12" style="padding:0px; margin:0;">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright" style="padding:0px; margin:0;">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>





<!--[if IE]>
    <script type="text/javascript">
         var console = { log: function() {} };
    </script>
<![endif]-->

{%endblock%}