

{% extends 'base.html' %}

{% block body %}

    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Approve Mess Cut</h3>
            <div class='row'>
                <table bgcolor="#ccc" style="border-radius:10px" class="striped highlight col offset-s2 s8">
                    <thead>
                      <tr>
                          <th>Name:</th>
                          <th>Room number:</th>
                          <th>Applied Date:</th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for student in data %}

                      <tr >

                          {% for value in student|slice:'3' %}
                          <td><a href= {{student.3}}>{{value}}</td>
                          {% endfor %}
                      </tr>
                    </a>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
