{%extends 'base.html' %}

{%block body%}
      {% load static %}
    <div class="card" id="contnt" >
	    <div class="row "  >
	    	<div class="col l6"> <img src="{% static 'mhsite/assets/mess.jpg' %}" class="responsive-img" style="margin-top: 7px"></div>
	    	<div class="col l6 white-text">
	    		<h1>Mess</h1>
	    		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus sem, feugiat id malesuada lobortis, cursus id quam. Nulla convallis consectetur magna id hendrerit. Nulla nibh magna, auctor nec vulputate quis, accumsan id sem. Aliquam pulvinar facilisis justo quis condimentum. Morbi sit amet lacinia risus. Quisque pellentesque enim non enim finibus venenatis. Maecenas vel sapien tortor. Nunc bibendum justo sit amet ultrices condimentum. Aenean tempus varius nisl, a tincidunt enim consequat nec. Morbi eget sagittis arcu. Nunc lacus mauris, iaculis et posuere sed, laoreet nec j</p>
	    	</div>
	    </div>
	</div>

	<div class="center-align" style="margin-bottom: 20px" >
		<div class="btn" >
            <a href="/accounts/login" style="color:white">Login to get mess cut</a>
		</div>
	</div>


{%endblock%}
