{% extends 'base.html' %}

{% block body %}

    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Registration</h3>

            <form method="post" class='col s12'>
                {% csrf_token %}
                {% for i in forms %}
                <div class='row'>>
                    <div class='input-field col s8 offset-s2'>
                        {{i}}
                        {{ i.label_tag }}
                    </div>
                </div>
                {% endfor %}
                <div class='row'>
                    <input type="submit" value="Register" class="col offset-s2 s8 waves-effect waves-light btn green" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}