{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
        <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Expense</h3>

        <div class="row"
          <ul>

          <div class="col 16" >
            <li>Report for {{data.date}}</li>
          </div>
            <li>Item1 {{data.item1}}</li>
            <li>Item2 {{data.item2}}</li>
            <li>Item3 {{data.item3}}</li>
            <li>Item4 {{data.item4}}</li>
            <li>Item5 {{data.item5}}</li>
            <li>Total {{data.total}}</li>
          </ul>

          <a href="/expense_tracker/{{link}}">Edit</a>
        </div>

    </div>
</div>

<div class="row"
  <ul>

  <div class="col 16" >
    <li>Report for {{data.date}}</li>
  </div>
    <li>Item1 {{data.item1}}</li>
    <li>Item2 {{data.item2}}</li>
    <li>Item3 {{data.item3}}</li>
    <li>Item4 {{data.item4}}</li>
    <li>Item5 {{data.item5}}</li>
    <li>Total {{data.total}}</li>
  </ul>

  <a href="/expense_tracker/{{link}}">Edit</a>
</div>
{% endblock %}
