{% extends 'base.html' %}

{% block body %}

    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Application Form</h3>

            <form method="post" class='col s12'>
            {% csrf_token %}


              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{usern.0}}' name="admission_number" id="id_admission_number" required maxlength="7" />
                      <label for="id_admission_number">Admission number:</label>
                      
                  </div>
              </div>





              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{usern.1}}' name="first_name" id="id_first_name" required maxlength="100" />
                      <label for="id_first_name">First name:</label>
                      <div class="error">
                        {{form.first_name.errors|escape}}
                      </div>
                  </div>
              </div>





              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{usern.2}}' name="last_name" id="id_last_name" required maxlength="100" />
                      <label for="id_last_name">Last name:</label>
                      <div class="error">
                        {{form.last_name.errors|escape}}
                      </div>
                  </div>
              </div>





              <div class='row'>
                  <div class='input-field col s8 offset-s2'>
                      <input type="text" value='{{usern.3}}' name="email" id="id_email" required maxlength="100" />
                      <label for="id_email">E mail:</label>
                      <div class="error">
                        {{form.email.errors|escape}}
                      </div>
                  </div>
              </div>


            {%with 'admission_number first_name last_name email' as list%}
            {%for field in form%}
            {%if field.name not in list%}
            <div class='row'>
                <div class='input-field col s8 offset-s2'>

                    {{field}}
                    {{ field.label_tag }}
                    {% if field.errors%}
                    <div class = "error">
                      {{field.errors|striptags}}
                    </div>
                    {% endif %}
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%endwith%}





                <div class='row'>
                    <button type="submit" class="col offset-s2 s8 waves-effect waves-light btn green">Register</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
