

{% extends 'base.html' %}

{% block body %}

      <div class = "container">
          <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
              <div class = "row"  style='display:flex; justify-content:center;'>
                  <form action = "" method="POST">
                    {%csrf_token%}
                      <table>
                      <tr>
                      <td>

                        <div style='float:left; padding-right:2vw' id = "date">
                            <select style='width:25vw;' class="browser-default" name = "year">
                              {% for year in calendar.years%}
                                <option value="{{year}}" {% if year == calendar.default.0%}selected="selected"{% endif %}>{{year}}</option>
                              {% endfor %}
                            </select>
                        </div>

                        <div style='float:right' id = "date">
                          <select style='width:25vw;' class="browser-default" name = "month">
                            {% for month in calendar.months%}
                              <option value={{month}} {% if month == calendar.default.1%}selected="selected"{% endif %}> {{month}} </option>
                            {% endfor %}
                          </select>
                        </div>

                      </td>
                      </tr>
                      </table>
                      <div class = "row" style='display:flex; justify-content:center;'>
                        <input style='width:25vw;' type="submit" class="col offset-s1 s8 waves-effect waves-light btn green"/>
                      </div>
                      <input type = "hidden" value ="download">
                      <div class = "row" style='display:flex; justify-content:center;'>
                        <input style='width:25vw;' type = "submit" name = 'download' value="Download" class="col offset-s1 s8 waves-effect waves-light btn green"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

    <div class = "container">
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <div class = "row">
               <div  class="col s12" style="margin-top:25px; " >
                  <ul class = "tabs tabs-fixed-width">
                     <li style='background-color:rgba(0,0,0,0.87);' class = "tab col s3" ><a class = "active" href = "#processing">Processing</a></li>
                     <li style='background-color:rgba(0,0,0,0.87);' class = "tab col s3"><a href = "#approved">Approved</a></li>
                     <li style='background-color:rgba(0,0,0,0.87);' class = "tab col s3"><a href = "#rejected">Rejected</a></li>
                  </ul>
               </div>
            </div>

       <div id = "processing" class = "col s12">
         <div class='container'>
             <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
                 <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Approve Mess Cut</h3>
                 <div class='row'>
                   {% if data|length == 0 %}
                   <div class = 'error' style="text-align:center;">
                     No one has applied yet, Relax!
                   </div>

                   {% else %}
                     <table class="bordered">
                         <thead>
                           <tr style='text-align:left; color:rgba(255,255,255,0.87)'>
                               <th>Name:</th>
                               <th>Room number:</th>
                               <th>Applied Date:</th>
                           </tr>
                         </thead>

                         <tbody>
                         {% for student in data %}

                           <tr>

                               {% for value in student|slice:'3' %}
                               <td style= "color:black;"><a href= {{student.3}}>{{value}}</td>
                               {% endfor %}
                           </tr>
                         </a>
                         {% endfor %}
                         </tbody>
                         {% endif %}

                     </table>
                 </div>

             </div>
         </div>
       </div>

       <div id = "approved" class = "col s12">
         <div class='container'>
             <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">

                <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Applied Mess Cuts</h3>

                 <div class='row'>
                   {% if approved|length == 0 %}
                     <div class = 'error' style="text-align:center;">
                       No data found
                     </div>

                   {% else %}
                     <table class="bordered">
                         <thead>
                           <tr style='text-align:left; color:rgba(255,255,255,0.87)'>
                               <th>Name:</th>
                               <th>Room number:</th>
                               <th>Number of Approved Dates:</th>
                           </tr>
                         </thead>

                         <tbody>


                           {%for i in approved%}
                           <tr >
                             {% for j in i|slice:'3'%}
                              <td style="{% if forloop.counter > 1 %}text-align: right; {% endif %}"><a href="approved/{{i.3}}/{{calendar.default.0}}/{{calendar.default.1}}">{{j}}</a></td>

                             {% endfor %}

                           </tr>
                           {% endfor %}
                         </a>

                         </tbody>
                        {% endif %}
                     </table>
                 </div>
               </div>
         </div>
       </div>

       <div id = "rejected" class = "col s12">
         <div class='container'>
             <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
                 <h3 style="text-align:center;color:rgba(255,255,255,0.87); ">Rejected Mess Cuts</h3>
                 <div class='row'>
                   {% if approved|length == 0 %}
                     <div class = 'error' style="text-align:center;">
                       No data found
                     </div>

                   {% else %}
                     <table class="bordered">
                         <thead>
                           <tr style='text-align:left; color:rgba(255,255,255,0.87)'>
                               <th>Name:</th>
                               <th>Room number:</th>
                               <th>Number of Rejected Days:</th>
                           </tr>
                         </thead>
                         <tbody>

                           {%for i in rejected%}
                           <tr >
                             {% for j in i|slice:'3'%}
                              <td style="{% if forloop.counter > 1 %}text-align: right; {% endif %}"><a href="rejected/{{i.3}}/{{calendar.default.0}}/{{calendar.default.1}}">{{j}}</td></a>

                             {% endfor %}

                           </tr>
                           {% endfor %}
                         </a>

                         </tbody>
                     </table>
                     {% endif %}
                 </div>
             </div>
         </div>
       </div>

      </div>
    </div>
    </div>
</div>



{% endblock %}
