{% extends 'base.html' %}



{% block body %}
    <div class='container'>
        <div class="card card-panel" style="margin-top:15px; background-color:rgba(0, 0, 0, 0.6)">
            <div class='row'>
                <h4 style="color:white">Name: {{profile.name}} <br/>
                    Room Number: {{profile.room_number}} <br/>
                    Mobile: {{profile.phone}}
                </h4>
            </div>
            <div class='row'>
                <form name="f1" method="POST" action="submit" >
                  {% csrf_token %}
                  <ul>
                    <li> 
          <input name="accept_reject" type="radio" id="test1" value="1" onClick="selectAll(f1)" /><label for="test1">Approve All</label><br/>
               <input name="accept_reject" type="radio" id="test2" value="0" onClick="selectAll(f1)"/><label for="test2">Reject All</label><br/>
                      </li>
                    {% for date in dates%}
                      <li><p style="color:white"> {{ date }}
                            <input type="radio" id="{{date}}" id="test1" name="{{date}}" value="1" {%if type == 'approved' %}checked {%endif%} />
                              <label for="{{date}}">Approve</label>
                            <input type="radio" id="{{date}}n" id="test2" name="{{date}}"  value="0" {%if type == 'rejected' %}checked {%endif%} />
                              <label for="{{date}}n">Reject</label>
                      </li></p>
                    {% endfor %}
                  </ul>

                <button type="submit"  class="col offset-s2 s8 waves-effect waves-light btn green">Submit</button>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function selectAll(f1) {

      var check = document.getElementsByName("accept_reject"),
    	    radios = document.f1.elements;

      //If the first radio is checked
    	if (check[0].checked) {

    		for( i = 0; i < radios.length; i++ ) {

          //And the elements are radios
    			if( radios[i].type == "radio" ) {

            //And the radio elements's value are 1
    				if (radios[i].value == 1 ) {
              //Check all radio elements with value = 1
    					radios[i].checked = true;
    				}

    			}//if

    		}//for

      //If the second radio is checked
    	} else {

    		for( i = 0; i < radios.length; i++ ) {

          //And the elements are radios
    			if( radios[i].type == "radio" ) {

            //And the radio elements's value are 0
    				if (radios[i].value == 0 ) {

              //Check all radio elements with value = 0
    					radios[i].checked = true;

    				}

    			}//if

    		}//for

    	};//if
      return null;
    }
    </script>

{% endblock %}
